#root {
  text-align: center;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.main-container {
  margin-top: 60px;
  height: 100%;
}

.content-container {
  margin-left: 8.5rem;

  padding: 0px;
  overflow-x: hidden;
  min-width: 75rem;
}
.discover-events {
  text-align: left;
  margin-bottom: 10px;
  font-size: 30px;
  padding-left: 24px;
  font-weight: bold;
}
