/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  background: #e0e0e0;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* CreateEvent Form Styling */
.create-event-form {
  margin-left: 270px; /* This will push the form right of the sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the left */
  width: 100%;
}

.create-event-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-event-form input,
.create-event-form select,
.create-event-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.create-event-form input[type="number"]:invalid {
  border-color: red; /* Highlight negative values with red border */
}

.create-event-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.create-event-form button:hover {
  background-color: #45a049;
}
